// Variables
@import 'variables';

body {
  font-size: 18px;
  box-shadow: 0 2px 80px yellowgreen inset;
  background-color: #fff;
}

.green-accent-color-1 {
  background-color: #006400;
}

#main-nav {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #478519;
}


#main-nav .nav-link:hover {
  opacity: 0.6;
}

footer {
  padding: 10px 20px;
  background-color: #223f0d;
}